{% extends 'main.html' %}
{% block body %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <!-- MAIN TITLE -->
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>adding job</h3>
                </div>
            </div>
            <!-- ./MAIN TITLE -->
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="container">
    add will be in here
</div>
{% endblock body %}